html {
	/*background: url("../images/background.jpg") no-repeat center center fixed;*/
	background: url("../images/thumb01.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


body {
	/*background:#111111;*/
	/*background: #111111;
	background: url("../images/thumb02.jpg") no-repeat center center fixed;*/
      margin:0;
      padding: 0px;
      height: 100%;
      width: 100%;
	  /* code used for IE */
	  scrollbar-3dlight-color:#888;
      scrollbar-arrow-color:#FFF;
      scrollbar-base-color:#000;
      scrollbar-darkshadow-color:#888;
      scrollbar-face-color:#000;
      scrollbar-highlight-color:#000;
      scrollbar-shadow-color:#000;
	  }

/* code used for chrome */
::-webkit-scrollbar {
  width: 13px;
  height: 13px; }
 
::-webkit-scrollbar:hover {
  height: 18px; }
 
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  height: 15px;
  width: 13px;
  display: block;
  background: #000;
  background-repeat: no-repeat; }
 
::-webkit-scrollbar-button:horizontal:decrement {
 /* background-image: url(scrollbar/horizontal-decrement-arrow.png);
  background-position: 4px 3px; */
   border: 1px solid #888;}
 
::-webkit-scrollbar-button:horizontal:increment {
 /* background-image: url(scrollbar/horizontal-increment-arrow.png);
  background-position: 3px 3px;*/
	border: 1px solid #888;  }
 
::-webkit-scrollbar-button:vertical:decrement {
/*  background-image: url(../images/vertical-decrement-arrow.png);
  background-position: 3px 4px;*/
	border: 1px solid #888;  }
 
::-webkit-scrollbar-button:vertical:increment {
/*  background-image: url(scrollbar/vertical-increment-arrow.png);
  background-position: 3px 4px; */
  border: 1px solid #888;}
/* 
::-webkit-scrollbar-button:horizontal:decrement:active {
  background-image: url(scrollbar/horizontal-decrement-arrow-active.png); }
 
::-webkit-scrollbar-button:horizontal:increment:active {
  background-image: url(scrollbar/horizontal-increment-arrow-active.png); }
 
::-webkit-scrollbar-button:vertical:decrement:active {
  background-image: url(scrollbar/vertical-decrement-arrow-active.png); }
 
::-webkit-scrollbar-button:vertical:increment:active {
  background-image: url(scrollbar/vertical-increment-arrow-active.png); }
*/ 
::-webkit-scrollbar-track-piece {
  background-color: #000; }
 
::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #000), color-stop(100%, #000));
  border: 1px solid #888;
  border-top: 1px solid #888;
  border-left: 1px solid #888; }
 
::-webkit-scrollbar-thumb:horizontal {
  width: 50px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(100%, #000));
  border: 1px solid #888;
  border-top: 1px solid #888;
  border-left: 1px solid #888; }	  
/* end code for chrome */	

 
.youtube
{
	width: 350px;
	height: 197px;
	margin: 0;
	padding: 0;
	border: none;
}	  

#outer        				 
	{position: absolute;
	 top: 50%;
	 left: 0px;
	 width: 100%;
	 height: 1px;}

#inner    
	{margin-left: -250px;
	 position: absolute;
	 top: -150px;
	 left: 50%;
	 width: 700px;
	 height: 300px;}
	 
.mask {
	position:absolute;
		 top:0px;
		 left:0px;
		 right:-80px;
	width: 100%;
	height: 100%;
	display: block;
}	 

.bgtext  					
		{
		color:#222222;
		 font-family: Baskerville, "Palatino LT STD", Georgia, Times, Times New Roman, serif;
		font-size: 150px;
		font-variant:small-caps;
		 position:absolute;
		 top:50px;
		 left:-110px;
		 right:-80px;	 
		 }




#index-bgtext
{
	color:#FFFFFF;
	/*text-shadow: 0 0 24px #0083EE, 0 0 8px #0083EE, 
				0 0 8px #0083EE, 0 0 4px #0083EE, 
				0 0 4px #0083EE, 0 0 4px #0083EE, 0 0 4px #0083EE;*/
				
				/*text-shadow: 0 0 24px #ff7c11, 0 0 8px #ff7c11, 
				0 0 4px #ff7c11, 0 0 4px #ff7c11;*/
				
	/*text-shadow: 0 0 24px #0083EE, 0 0 8px #0083EE, 
    0 0 4px #0083EE, 0 0 4px #0083EE;*/
    
    text-shadow: 2px 2px 4px #FF7C11, 2px 2px 4px #FF7C11, 2px 2px 4px #FF7C11;
    /*text-shadow: 2px 2px 4px #0083EE, 2px 2px 4px #0083EE, 2px 2px 4px #0083EE; */
    
	/* for IE */					
	filter: progid:DXImageTransform.Microsoft.Glow(strength=4,color=#ff7c11);
							
}
		 
div#footertext {
			color:#EEEEEE;
			font-family:"helvetica neue", helvetica, verdana, arial, sans-serif;
			font-size:12px;
			 position:absolute;
			 top:380px;
			 text-align:center;
			 width:500px}


div.text1, div.text2, div.text3, div.text4, div.text5
         {color:#222222;
		  font-family: "helvetica neue", helvetica, verdana, arial, sans-serif;
		  position:absolute;
		  }

div.text1 {font-size:60px;
		top:0px;
		left:10px;}
		
div.text2 {font-size:28px;
		top:-15px;
		left:355px;}
		
div.text3 {font-size:49px;
		top:15px;
		left:270px;}
		
div.text4 {font-size:42px;
		top:185px;
		left:210px;}
		
div.text5 {font-size:35px;
		top:238px;
		left:55px;}


 div.text1 a:hover span {top: 0px; 
						left: 0px; 
						}

 div.text2 a:hover span {top: -8px; 
						left: 0px; 
						}
						
 div.text3 a:hover span {top: -8px; 
						left: 0px; 
						}

 div.text4 a:hover span {top: -6px; 
						left: 0px; 
						}
		
 div.text5 a:hover span {top: -4px; 
						left: 0px; 
						}
							   
div#inner a:hover, div#inner2 a:hover
				  {background: none;
				   cursor:pointer;}

div#inner a span {display: none;}

div#inner a:visited span {display:none;}

div#inner a {text-decoration: none;
			 color:#EEEEEE}
div#inner a:hover span {display: block;
						position:relative;
						background:none;
						font-size:14px}
						
div#inner a:link, div#inner a:visited {text-decoration:none;}

div#inner a:hover {text-decoration:none;
				text-shadow: none}



div#content {position:absolute;
			 top:-50px;
			 left:-150px;
			 width:800px;
			 height: 550px;
			 overflow: auto;
			 font-family: "helvetica neue", helvetica, verdana, arial, sans-serif;
			 font-size: 15px;
            color:#EEEEEE;
			 text-align:justify;
			 margin:3px;}

div#inner div#content a:hover, div#inner div#footertext a:hover {text-decoration:underline;}
			 


div#close, div#top 
          {width:17px;
		   height:17px;
		   background:none;
		   text-align:center;
		   font-family:"helvetica neue", helvetica, verdana, arial, sans-serif;
		   font-weight:bold;
		   font-size:12px;
		   border: 1px solid #222}
   
div#top {position:relative;
		   left:658px;
		   top:469px}

div#close {position:relative;
		   left:658px;
		   top:-47px;}
		   
div#inner div#close a:link, div#inner div#top a:link {color:#fff; cursor:default;}
div#inner div#close a:visited, div#inner div#top a:visited {color:#fff; cursor:default;}
div#inner div#close a:hover, div#inner div#top a:hover {color:#fff; cursor:default;}



div#urltext {font-family:"helvetica neue", helvetica, verdana, arial, sans-serif;
			 font-size:30px;
			 position:absolute;
			 top:-87px;
			 left:-149px}



div#urltext, div#inner div#content a:link, div#inner div#content a:visited, div#inner a:hover, div#inner a:hover span, div#footertext a:link, div#footertext a:visited
   			 {color:#ff7c11}
			 
div#content div#titlebar {border: 1px solid #222222;
				background: #000;
				font-weight: normal;
				color:  #ff7c11;}
				
div#content {margin-left:0;
			padding-right:8px;}
			 
			 
			 
.titleblock {font-family:"helvetica neue", helvetica, verdana, arial, sans-serif;
				font-size:17px;
				color:#ff7c11;
				/*font-weight:;*/
				margin-right:6px;
				margin-top:10px;
				margin-bottom:10px;
				margin-left:2px;
				border:1px solid #888;
				padding:4px}
				
.titleblock span {color:#ff7c11}

#urltext a:link {color:#444}
#urltext a:visited {color:#444}
#urltext a:hover {color:#444}
#urltext a:active {color:#444}

#content p
{
		margin-left: 10px;
		margin-right: 30px;
		margin-top: 0px;
    padding-bottom: 5px;
}

#center-div
{
	text-align: center;
	padding-top: 20px
}

#profile-pic
{
	width: 286px;
	height: 400px
}
.project-description
{
	width: 410px;
	vertical-align: top;
}
.project-pic
{
}
div#top-page
{
	position: relative;
	top: -30px
}

#resume {
	width: 790px;
}
div#urltext .uponelevel
{
	color: #A0A0A0;
}
